In [26]:
import numpy as np
import pandas as pd
from da_assessment.scripts.config import UNPROCESSED_USER_DATA, UNPROCESSED_TRANSACTION_DATA

## Data Loading

In [27]:
users_df = pd.read_csv(UNPROCESSED_USER_DATA)
transactions_df = pd.read_csv(UNPROCESSED_TRANSACTION_DATA)

In [28]:
users_df

,Id,UserName,DateCreated,DateOfBirth,Gender,ReferralCode,IsDeactivated,IsKYCVerified,ReferredBy,Occupation,ResidenceCountry,KycStatus,State,CompletedProfile
0,d0f9-46bf-8ab,ta.aatta@yahoo.com,2024-01-24,1992-03-12,Male,F57999,False,False,NaN,Student - College/University,CANADA,1,Ontario,True
1,0b9e-4211-be7,1627lw16@yahoo.com,2023-12-23,1974-07-12,Male,F83546,False,False,NaN,Financial and investment analysts,NIGERIA,1,key west,True
2,62cb-4012-a38,winuedwi@yahoo.com,2024-01-20,2001-01-01,Non-Binary,F89245,False,False,NaN,NaN,NIGERIA,1,NaN,False
3,899d-4824-b8c,huabnuhu@yahoo.com,2024-01-27,2001-01-01,Non-Binary,F51224,False,False,NaN,NaN,NIGERIA,1,NaN,False
4,e09a-44d0-a43,eboloreb@yahoo.com,2024-03-02,1995-04-20,Female,F87533,False,False,F81379,Artisans and craftspersons,CANADA,6,Ontario,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21901,5869-4724-b0f,hannYoha@yahoo.com,2024-01-18,2002-08-25,Male,F72432,False,False,NaN,Student - College/University,NIGERIA,1,Kaduna,False
21902,a595-4a25-a86,odocokod@yahoo.com,2024-01-18,2001-01-01,Non-Binary,F83039,False,False,NaN,NaN,NIGERIA,1,NaN,False
21903,efb5-407b-a4e,dirakudi@yahoo.com,2024-01-18,2001-01-01,Non-Binary,F48396,False,False,NaN,NaN,NIGERIA,1,NaN,False
21904,3dfd-451e-b42,loxmmalo@yahoo.com,2024-01-18,1996-10-20,Male,F71394,False,False,NaN,self employed,CANADA,6,Ontario,True
21905,5e52-4fe4-9f6,ngciKing@yahoo.com,2024-01-18,1999-05-05,Male,F38473,False,False,NaN,Security,NIGERIA,1,Lagos,True

In [29]:
transactions_df

,Id,DateCreated,UserId,SendAmount,SendCurrencyId,ReceiveAmount,ReceiveCurrencyId,Narration,ExchangeRate,BaseAmount
0,1800387,2023-12-31,bca5-4807-b5d,80,CAD,71600,NGN,Other Personal Services,895.000000,80
1,1800388,2023-12-31,ac3f-40af-be1,1198390,NGN,1317,CAD,Education Services,0.001099,1317
2,1800390,2023-12-31,bca5-4807-b5d,23,CAD,20585,NGN,Other Personal Services,895.000000,23
3,1800391,2023-12-31,5a37-4002-a9a,200,CAD,179000,NGN,Other Personal Services,895.000000,200
4,1800392,2023-12-31,bca5-4807-b5d,17,CAD,15215,NGN,Other Personal Services,895.000000,17
...,...,...,...,...,...,...,...,...,...,...
164877,2108410,2024-03-31,fb63-41fc-b69,600,CAD,559800,NGN,Health-Related,933.000000,600
164878,2108411,2024-03-31,7c47-418c-987,65,CAD,60645,NGN,Grants and Gifts,933.000000,65
164879,2108412,2024-03-31,cecc-4be9-8ae,140000,NGN,146,CAD,Goods and Services,0.001042,146
164880,2108413,2024-03-31,effb-49c0-9ac,13,CAD,12129,NGN,Grants and Gifts,933.000000,13
164881,2108414,2024-03-31,7aa7-440e-a5d,50,CAD,46650,NGN,Other Personal Services,933.000000,50

In [30]:
transactions_df.columns

Index(['Id', 'DateCreated', 'UserId', 'SendAmount', 'SendCurrencyId',
       'ReceiveAmount', 'ReceiveCurrencyId', 'Narration', 'ExchangeRate',
       'BaseAmount'],
      dtype='object')

## Data Investigation

Investigating the shape of the dataset

In [31]:
print(f"Users data has {users_df.shape[0]} rows and {users_df.shape[1]} columns")
print(f"Transactions data has {transactions_df.shape[0]} rows and {transactions_df.shape[1]} columns")

Users data has 21906 rows and 14 columns
Transactions data has 164882 rows and 10 columns

Investigating the data types of the columns in the dataset

In [32]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21906 entries, 0 to 21905
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                21906 non-null  object
 1   UserName          21906 non-null  object
 2   DateCreated       21906 non-null  object
 3   DateOfBirth       21906 non-null  object
 4   Gender            21906 non-null  object
 5   ReferralCode      21884 non-null  object
 6   IsDeactivated     21906 non-null  bool
 7   IsKYCVerified     21906 non-null  bool
 8   ReferredBy        1265 non-null   object
 9   Occupation        17759 non-null  object
 10  ResidenceCountry  21906 non-null  object
 11  KycStatus         21906 non-null  int64
 12  State             17748 non-null  object
 13  CompletedProfile  21906 non-null  bool
dtypes: bool(3), int64(1), object(10)
memory usage: 1.9+ MB

In [33]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164882 entries, 0 to 164881
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 164882 non-null  int64
 1   DateCreated        164882 non-null  object
 2   UserId             164821 non-null  object
 3   SendAmount         164882 non-null  int64
 4   SendCurrencyId     164882 non-null  object
 5   ReceiveAmount      164882 non-null  int64
 6   ReceiveCurrencyId  164882 non-null  object
 7   Narration          164676 non-null  object
 8   ExchangeRate       164882 non-null  float64
 9   BaseAmount         164882 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 12.6+ MB

Determining the cardinality (number of unique values) for each columns

In [34]:
print(f"Number of rows in users data: {users_df.shape[0]}")
users_df.nunique().sort_values(ascending=False)

Number of rows in users data: 21906

Id                  21906
ReferralCode        19813
UserName            15106
DateOfBirth          9381
Occupation           1363
ReferredBy            995
State                 786
DateCreated           122
KycStatus               5
ResidenceCountry        4
Gender                  3
IsDeactivated           2
IsKYCVerified           2
CompletedProfile        2
dtype: int64

In [35]:
print(f"Number of rows in transactions data: {transactions_df.shape[0]}")
transactions_df.nunique().sort_values(ascending=False)

Number of rows in transactions data: 164882

Id                   164882
ReceiveAmount         24691
UserId                16444
SendAmount             9505
BaseAmount             4067
ExchangeRate            497
Narration               254
DateCreated              92
ReceiveCurrencyId         8
SendCurrencyId            3
dtype: int64

Investigating the presence and number of null values

In [36]:
users_df.isnull().sum().sort_values(ascending=False)

ReferredBy          20641
State                4158
Occupation           4147
ReferralCode           22
Id                      0
UserName                0
DateCreated             0
DateOfBirth             0
Gender                  0
IsDeactivated           0
IsKYCVerified           0
ResidenceCountry        0
KycStatus               0
CompletedProfile        0
dtype: int64

In [37]:
transactions_df.isnull().sum().sort_values(ascending=False)

Narration            206
UserId                61
Id                     0
DateCreated            0
SendAmount             0
SendCurrencyId         0
ReceiveAmount          0
ReceiveCurrencyId      0
ExchangeRate           0
BaseAmount             0
dtype: int64

Determining the percentage of null values to the entire dataset

In [38]:
for columns in users_df.columns:
    if users_df[[columns]].isnull().sum().values[0] > 0:
        print(f"{columns} has missing values and contributes to {round(users_df[[columns]].isnull().sum().values[0]/users_df.shape[0]*100, 2)}% of the total dataset")

ReferralCode has missing values and contributes to 0.1% of the total dataset
ReferredBy has missing values and contributes to 94.23% of the total dataset
Occupation has missing values and contributes to 18.93% of the total dataset
State has missing values and contributes to 18.98% of the total dataset

In [39]:
for columns in transactions_df.columns:
    if transactions_df[[columns]].isnull().sum().values[0] > 0:
        print(f"{columns} has missing values and contributes to {round(transactions_df[[columns]].isnull().sum().values[0]/transactions_df.shape[0]*100, 2)}% of the total dataset")

UserId has missing values and contributes to 0.04% of the total dataset
Narration has missing values and contributes to 0.12% of the total dataset

Investigating the presence and number of duplicates

In [40]:
print('Number of duplicated rows in users data: %s'%users_df.duplicated().sum())

Number of duplicated rows in users data: 0

In [41]:
print('Number of duplicated rows in transactions data: %s'%transactions_df.duplicated().sum())

Number of duplicated rows in transactions data: 0

Descriptive Statistics of the dataset

In [42]:
users_df.describe(include="all")

,Id,UserName,DateCreated,DateOfBirth,Gender,ReferralCode,IsDeactivated,IsKYCVerified,ReferredBy,Occupation,ResidenceCountry,KycStatus,State,CompletedProfile
count,21906,21906,21906,21906,21906,21884,21906,21906,1265,17759,21906,21906.000000,17748,21906
unique,21906,15106,122,9381,3,19813,2,2,995,1363,4,NaN,786,2
top,d0f9-46bf-8ab,manuemma@yahoo.com,2024-03-17,2001-01-01,Male,F89273,False,False,F79094,Student - College/University,NIGERIA,NaN,Lagos,True
freq,1,99,827,4162,12844,4,20961,17530,36,1846,16293,NaN,3360,12901
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.918561,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.466116,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN

In [43]:
transactions_df.describe(include="all")

,Id,DateCreated,UserId,SendAmount,SendCurrencyId,ReceiveAmount,ReceiveCurrencyId,Narration,ExchangeRate,BaseAmount
count,1.648820e+05,164882,164821,1.648820e+05,164882,1.648820e+05,164882,164676,164882.000000,164882.000000
unique,NaN,92,16444,NaN,3,NaN,8,254,NaN,NaN
top,NaN,2024-03-01,ddf4-4b3a-ab5,NaN,CAD,NaN,NGN,Other Personal Services,NaN,NaN
freq,NaN,2730,259,NaN,140910,NaN,140767,39538,NaN,NaN
mean,1.954401e+06,NaN,NaN,1.959644e+05,NaN,2.013778e+05,NaN,NaN,906.431843,366.855478
std,8.874339e+04,NaN,NaN,7.742540e+05,NaN,4.627340e+05,NaN,NaN,403.503409,786.570502
min,1.800387e+06,NaN,NaN,2.000000e+00,NaN,2.000000e+00,NaN,NaN,0.000000,0.000000
25%,1.877760e+06,NaN,NaN,3.900000e+01,NaN,2.000000e+04,NaN,NaN,930.000000,35.000000
50%,1.954632e+06,NaN,NaN,1.000000e+02,NaN,5.675000e+04,NaN,NaN,1050.000000,100.000000
75%,2.030882e+06,NaN,NaN,4.490000e+02,NaN,1.607160e+05,NaN,NaN,1155.000000,256.000000
max,2.108414e+06,NaN,NaN,1.159000e+07,NaN,5.000000e+06,NaN,NaN,1360.000000,9500.000000